.idea

cmake-build-debug
cmake-build-release
build

data/*
!data/README.md
!data/crawl_all.sh
!data/crawl_clustering.py
!data/crawl_COV_LOC_INF.py
!data/crawl_graph.py
!data/crawl_INF_csokas.py

extern/blossom5
extern/blossom5.tar.gz

experiments/*

experiments/results
experiments/plots
experiments/slurm_scripts
experiments/config
experiments/latex_tables

experiments/staus/closeness-centrality
experiments/staus/closeness-centrality.zip
experiments/staus/Staus_Code.jar
experiments/staus/staus_res.txt
experiments/staus/config